# ignore everything w/o a file extension: ignore everything, then unignore anything with a file ext, then unignore dirs, then unignore makefile
*
!*.*
!*/
!makefile

# ignore build files
*.a
*.o
*.ostat
*.odbg
*.deps
*.exe
